.header
  height: 100vh
  .container
    height: 100%
    margin-top: 0px
    margin-bottom: 0px


.header-top
  display: flex
  justify-content: flex-end
  padding-top: 24px

.menu-item
  display: inline-block
  margin-right: 30px
  &:last-child
    margin-right: 0px

.menu-link
  font-size: 34px
  line-height: 1.3
  &:hover, &:active
    text-decoration: underline

.logo
  display: flex
  height: calc(100% - 76px)
  justify-content: center
  flex-direction: column
  align-items: center

h1 span
  font-size: $fontSize_body
  line-height: $lineHeight_body
  font-family: $ptSansNarrowReg


