@font-face
  font-family: "PTSansNarrow-Regular"
  font-style: normal
  font-weight: normal
  src: local('PTSansNarrow-Regular'), url("../fonts/PT_Sans_Narrow_Regular/PTSansNarrow-Regular.woff") format("woff"), url("../fonts/PT_Sans_Narrow_Regular/PTSansNarrow-Regular.woff2") format("woff2"), url("../fonts/PT_Sans_Narrow_Regular/PTSansNarrow-Regular.ttf") format("ttf"), url("../fonts/PT_Sans_Narrow_Regular/PTSansNarrow-Regular.eot") format("eot")

@font-face
  font-family: "PTSansNarrow-Bold"
  font-style: normal
  font-weight: normal
  src: local('PTSansNarrow-Bold'), url("../fonts/PT_Sans_Narrow_Bold/PTSansNarrow-Bold.woff") format("woff"), url("../fonts/PT_Sans_Narrow_Bold/PTSansNarrow-Bold.woff2") format("woff2"), url("../fonts/PT_Sans_Narrow_Bold/PTSansNarrow-Bold.ttf") format("ttf"), url("../fonts/PT_Sans_Narrow_Bold/PTSansNarrow-Bold.eot") format("eot")

