*
	&:focus, &:active
		outline: none !important

*,
*::before,
*::after
	box-sizing: border-box

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $ptSansNarrowReg
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: $lineHeight_body
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	background-color: $body_bg
	//+phone-down
		font-size: 12px

h1, h2, h3, h4, p, ul
	margin: 0px
	padding: 0px

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal

h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2


.container
	+laptop
		max-width: 1230px
		padding-left: 30px
		padding-right: 30px

.title
	color: $fontColorMain
	font-family: $ptSansNarrowBold


.bold-text
	font-family: $ptSansNarrowBold


.text-upper
	text-transform: uppercase

.btn
	position: relative
	&:hover
		color: inherit

