
//general font
$ptSansNarrowReg: 'PTSansNarrow-Regular', Arial, sans-serif
$ptSansNarrowBold: 'PTSansNarrow-Bold', Arial, sans-serif

$fontSize_body: 40px
$lineHeight_body: 1.3

$fontColorMain: #FFFFFF

//general color
$body_bg: #FFFFFF
$navy: #041C59
$aqua: #2AA2A8
$green_dark: #003234
$grey: #C4C4C4

//h1, h2
$fontSize_h1: 80px
$lineHeight_h1: 1

$fontSize_h2: 60px
$lineHeight_h2: 1.3

