//general font
$fontSize_body: 16px
$lineHeight_body: 24px

$fontColorMain: #222222

//general color
$body_bg: #FFFFFF
$grey: #f6f7f8
$blue: #017bdc
$blue-text: #077ddc
$red-text: #ff2626
$gold-yellow: #e0c05d
$slider-control-color: #007be0
$green: #0ebc55

//h1, h2
$fontSize_h1: 40px
$lineHeight_h1: 1


$fontSize_h2: 30px
$lineHeight_h2: 1

$fontSize_h3: 20px
$lineHeight_h3: 1

$fontSize_h4: 18px
$lineHeight_h4: 1.2

